        .carousel {
            max-width: 100%;
            margin: 0 auto;
            display: flex;
            position: relative;


        }
        #imagen {
            width: 100%;
            height: 400px;
            background-size: cover;

        }
        .carousel2 {
            width: 100%;
            height: 400px;
            background-size: cover;
            position: absolute;

        }



        a:link{

        color: #636;
        
        text-decoration: none;


        }


        table, th, td {

              
            font-size: 20px;

            }